<footer class="footer text-light mt-1 nav-footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="text-center">
                    <h4>PokéCard Palace</h4>
                </div>
                <hr class="custom-hr">
                <div class="text-center mb-2">

                    <ul class="list-inline nav-footer-links">
                        <li class="list-inline-item"><a href="/">Home</a></li>
                        <li class="list-inline-item"><a href="/collections">Collections</a></li>
                        <li class="list-inline-item"><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <p class="text-center ft-text">The material on this platform concerning the Pokémon Trading Card Game is
                    the intellectual property of The Pokémon Company. <br> PokéCard Palace operates independently and is
                    not
                    associated with The Pokémon Company.</p>
                <p class="text-center small-copyright">Copyright &copy; PokéCard Palace 2024</p>
            </div>
        </div>
    </div>
</footer>