<!DOCTYPE html>
<html>

<head>
    <title>Pokécard Palace | Contact Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>

    </style>
</head>

<body class="contact">


    <%- include('partials/navbar') %>

        <div class="container-fluid contact-section">
            <div class="container mt-0 text-center">
                <div class="mt-4 d-inline-block p-3">
                    <h2 class="my-4">C O N T A C T&nbsp;&nbsp;U S</h1>
                        <hr class="my-4 short-hr">
                </div>
            </div>


            <div class="container mt-4">
                <div class="text-center">
                    <p>
                        If you have any questions or inquiries, please feel free to reach out to us. <br>
                        You will receive a reply within 5-7 working days.<br>
                        We are here to assist you.
                    </p>
                </div>
            </div>

            <hr class="my-4 short-hr">

            <div class="container mt-4 icon-text">
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex flex-column align-items-center">
                            <i class="fa-regular fa-thumbs-up fa-3x mb-2"></i>
                            <p class="text-center contact-text">Provide an email subject to help
                                us direct <br>your inquiry to the appropriate team.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-column align-items-center">
                            <i class="fas fa-at fa-3x mb-2"></i>
                            <p class="text-center contact-text">The email address you send a message from
                                is<br>the email address
                                we will reply to.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-column align-items-center">
                            <i class="fa-regular fa-comment fa-3x mb-2"></i>
                            <p class="text-center contact-text">Provide a detailed message to <br>help us assist
                                you
                                better.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center mt-4">
                <p>To proceed, please click the button below:</p>
                <a href="mailto:bdeleeuwe01@qub.ac.uk?subject=[Enter%20Appropriate%20Subject]&body=Full%20Name:%0D%0A%0D%0AUsername%20(Optional):%0D%0A%0D%0AMessage:"
                    class="btn btn-primary shadow-lg my-4">Send Email</a>
            </div>
        </div>


        <%- include('partials/footer') %>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
</body>

</html>