<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokécard Palace | Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>


    <%- include('partials/navbar') %>



        <div class="jumbotron text-center jum-dash">
            <h1 class="display-4">Welcome back <%= userdata.user_name %> to Pokécard Palace!</h1>

            <hr class="my-4 short-hr">
            <p class="lead">We're delighted to have you with us!</p>
        </div>



        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-4 mt-2">
                    <div class="text-center">
                        <a href="/mycollection" class="btn btn-primary btn-block btn-lg">My Collections</a>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="text-center">
                        <a href="/wishlist" class="btn btn-primary btn-block btn-lg">My Wishlist</a>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="text-center">
                        <a href="/collections" class="btn btn-primary btn-block btn-lg">All Collections</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="container mt-4 shadow-lg">
            <div class="text-center mb-4">
                <h2>Member Exclusives</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Browse Cards and add to Collections</h4>
                    <p>Continue to explore our extensive collection of Pokémon cards. You can browse cards by set, type,
                        rarity, and more. As a member, you can add a card to your collection. Simply create a collection
                        by visiting the collection page, then click on the card from the drop-down and select "Add
                        Card".
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Rate Member's Collections</h4>
                    <p>Discover other member's collections and rate them based on your preferences. Your ratings help
                        other members find high-quality collections.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Like Cards and add to Wishlist</h4>
                    <p>If you find a card you love but don't have yet, you can like it and add it to your wishlist. This
                        helps you keep track of cards you want to acquire in the future.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Delete Account</h4>
                    <p>If you no longer wish to use our platform, you have the option to delete your account. Please
                        note that this action is irreversible and will permanently remove all your data from the
                        platform.
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-4 mt-4">
                    <div class="text-center">
                        <a href="/logout" class="btn btn-primary">Log Out</a>
                    </div>
                </div>
            </div>
        </div>



        <% if (userdata.role==='admin' ) { %>
            <div class="container mt-4 shadow-lg">
                <div class="row justify-content-center">
                    <div class="col-md-6 my-4">
                        <form action="/deleteCard" method="POST">
                            <h4 class="text-center mt-4">Delete Card</h4>
                            <div class="form-group">
                                <label for="deleteCardName">Card Name</label>
                                <input type="varchar" class="form-control" id="cname" name="cardname"
                                    placeholder="Enter Card Name">
                            </div>
                            <div class="form-group">
                                <label for="deleteCardSetID">Set ID</label>
                                <input type="decimal" class="form-control" id="setID" name="cardset"
                                    placeholder="1 = PF / 2 = TF / 3 = CE / 4 = HF / 5 = AO / 6 = XY">
                            </div>
                            <button type="submit" class="btn btn-secondary">Delete Card</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container mt-4 shadow-lg">
                <div class="row justify-content-center">
                    <div class="col-md-6 my-4">
                        <form action="/addCard" method="POST">
                            <h4 class="text-center mt-4">Add Card</h4>
                            <div class="form-group">
                                <label for="addName">Card Name</label>
                                <input type="varchar" class="form-control" id="name" name="name"
                                    placeholder="Enter Card Name">
                            </div>
                            <div class="form-group">
                                <label for="addHP">Hit Points</label>
                                <input type="int" class="form-control" id="hp" name="hp" placeholder="Enter Hit Points">
                            </div>
                            <div class="form-group">
                                <label for="addPrice">Price</label>
                                <input type="decimal" class="form-control" id="price" name="price"
                                    placeholder="Enter Price">
                            </div>
                            <div class="form-group">
                                <label for="addImage">Image URL</label>
                                <input type="text" class="form-control" id="image" name="image"
                                    placeholder="Enter Image URL">
                            </div>
                            <div class="form-group">
                                <label for="addDecs">Card Description</label>
                                <input type="text" class="form-control" id="desc" name="desc"
                                    placeholder="Enter Description">
                            </div>
                            <div class="form-group">
                                <label for="addType">Card Type</label>
                                <input type="int" class="form-control" id="type" name="type"
                                    placeholder="1 = Pokémon / 2 = Energy / 3 = Trainer">
                            </div>
                            <div class="form-group">
                                <label for="addSet">Card Set</label>
                                <input type="int" class="form-control" id="set" name="set"
                                    placeholder="1 = PF / 2 = TF / 3 = CE / 4 = HF / 5 = AO / 6 = XY">
                            </div>
                            <div class="form-group">
                                <label for="addSeries">Card Series</label>
                                <input type="int" class="form-control" id="series" name="series"
                                    placeholder="1 = Scarlet & Violet / 2 = Sun & Moon / 3 = XY">
                            </div>
                            <div class="form-group">
                                <label for="addEnergy">Card Energy</label>
                                <input type="int" class="form-control" id="energy" name="energy"
                                    placeholder="1 = Colourless / 2 = Darkness / 3 = Fighting / 4 = Grass etc">
                            </div>
                            <div class="form-group">
                                <label for="addRarity">Card Rarity</label>
                                <input type="int" class="form-control" id="rarity" name="rarity"
                                    placeholder="1 = Common / 2 = Uncommon / 3 = Rare / 4 = Double Rare etc">
                            </div>
                            <button type="submit" class="btn btn-secondary">Add Card</button>
                        </form>
                    </div>
                </div>
            </div>
            <% } %>



                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6 my-4">
                            <form action="/updateEmail" method="POST">
                                <h4 class="text-center mt-4">Update Email</h4>
                                <div class="form-group">
                                    <label for="oldEmail">Old Email</label>
                                    <input type="email" class="form-control" id="oldEmail" name="oldEmail"
                                        placeholder="Enter Old Email">
                                </div>
                                <div class="form-group">
                                    <label for="newEmail">New Email</label>
                                    <input type="email" class="form-control" id="newEmail" name="newEmail"
                                        placeholder="Enter New Email">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Update Email</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



                <div class="container mt-4">
                    <h4 class="text-center">Delete Account</h4>
                    <form action="/deleteAccount" method="POST">
                        <hr class="my-4 short-hr">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="deleteAccEmail">Enter Email</label>
                                <input type="email" class="form-control" id="email" name="delEmail"
                                    placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Delete Account</button>
                        </div>
                    </form>
                </div>



                <%- include('partials/footer') %>



                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                        crossorigin="anonymous"></script>
                    <script>
                        const urlParams = new URLSearchParams(window.location.search);
                        const deletecard = urlParams.get('deleted');
                        if (deletecard === 'true') {
                            alert("Card Deleted Successfully");
                        }
                    </script>
                    <script>
                        const urlParamet = new URLSearchParams(window.location.search);
                        const addedcard = urlParamet.get('added');
                        if (addedcard === 'true') {
                            alert("Card added Successfully");
                        }
                    </script>
                    <script>
                        const urlParameters = new URLSearchParams(window.location.search);
                        const deletedacc = urlParameters.get('deleteerror');
                        if (deletedacc === 'true') {
                            alert("Account not deleted, error has occurred. Check your credentials, or contact us for support");
                        }
                    </script>
                    <script>
                        const urlPa = new URLSearchParams(window.location.search);
                        const updateemail = urlPa.get('emailupdate');
                        if (updateemail === 'true') {
                            alert("Email updated!");
                        }
                    </script>
                    <script>
                        const urlPar = new URLSearchParams(window.location.search);
                        const nonupdateemail = urlPar.get('emailupdateerror');
                        if (nonupdateemail === 'true') {
                            alert("Email not updated, please check your credentials");
                        }
                    </script>








</body>

</html>