<!DOCTYPE html>
<html>

<head>
    <title>Pokécard Palace | Access Denied</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>


    <%- include('partials/navbar') %>


        <div class="jumbotron text-center linksD jum-denied">
            <h1 class="display-4">Members Only!</h1>
            <hr class="my-4 short-hr">
            <p class="lead">Your adventure stops here... For now... <br><br><a href="/signin">Sign in / Sign up</a> to
                continue. </p>
        </div>



        <div class="container my-4">
            <div class="text-center mb-4">
                <h2>Member Exclusives</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Digitalize Your Collection</p>
                    <p>Rate Member's Collections</p>
                    <p>Like Cards and add to Wishlist</p>
                </div>
            </div>
        </div>


        <%- include('partials/footer') %>



            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
</body>

</html>