<!DOCTYPE html>
<html>

<head>
    <title>Pokécard Palace | Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

    <%- include('partials/navbar') %>

        <div class="container-fluid p-0">
            <div class="jumbotron text-center jum-top mb-0">
                <h1 class="display-4">Pokécard Palace</h1>
                <p class="lead links">
                    Here you can find a wide selection of Pokémon trading cards
                    from various generations and series. <br>Whether you're a seasoned collector or just starting
                    out, we have something for everyone. <br>If you encounter any issues, have questions, or
                    need assistance, please <a href="/contact">Contact Us</a>
                </p>
                <hr class="my-4 short-hr">
                <p>Discover our card collections by using the button below!</p>
                <div class="text-center">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 mt-2">
                            <a href="/collections" class="btn btn-primary">Browse Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="styled-boxes-container">
                        <div class="row mt-4">
                            <div class="col-md-4 mt-1">
                                <div class="styled-box">
                                    <h3><i class="fa-regular fa-star"></i></h3>
                                    <h5>Why Become a Member?</h5>
                                    <ul class="bullet-list">
                                        <li>Create your card collection & rate others</li>
                                        <li>Add cards to your wishlist & compare stats</li>
                                        <li>Trade your cards with other members</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 mt-1">
                                <div class="styled-box">
                                    <h3><i class="fa-regular fa-gem"></i></h3>
                                    <h5>Why Collect Cards?</h5>
                                    <ul class="bullet-list">
                                        <li>For those who cherish the nostalgia of collecting</li>
                                        <li>To battle with friends through the physical game</li>
                                        <li>For collectors to turn their passion into profit</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 mt-1">
                                <div class="styled-box">
                                    <h3><i class="fa-regular fa-square-check"></i></h3>
                                    <h5>Why Track Online?</h5>
                                    <ul class="bullet-list">
                                        <li>Easily organize your card collection</li>
                                        <li>Enhance card accessibility and convenience</li>
                                        <li>Opportunities for community engagement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron text-center mb-0 mt-5 jum-btm">
            <h4 class="my-4">
                Unify. Track. Collect. Conquer.
            </h4>
        </div>

        <%- include('partials/footer') %>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>

</body>

</html>