<!DOCTYPE html>
<html>

<head>
    <title>Pokécard Palace | Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>





    <%- include('partials/navbar') %>






        <div class="container-fluid account-section">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-4">

                    <!-- now form action post rather than form id and using email insrtead of usrname  -->
                    <form action="/signin" method="POST">
                        <h2 class="text-center mt-4">S I G N&nbsp;&nbsp;I N</h2>
                        <hr class="my-4 short-hr">
                        <div class="form-group">
                            <label for="signInEmail">Email</label>
                            <input type="email" class="form-control" id="signInEmail" name="email"
                                placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="signInPassword">Password</label>
                            <input type="password" class="form-control" id="signInPassword" name="password"
                                placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </form>
                </div>
            </div>




            <!--  CODE ABOVE NOW WORKS!!!  -->


            <div class="row justify-content-center">
                <div class="col-md-6 mb-4">
                    <form action="/signup" method="POST">
                        <h2 class="text-center mt-4">S I G N&nbsp;&nbsp;U P</h2>
                        <hr class="my-4 short-hr">
                        <div class="form-group">
                            <label for="signUpEmail">Email</label>
                            <input type="email" class="form-control" id="signUpEmail" name="upemail"
                                placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Enter username">
                        </div>
                        <!-- took out dob & confirm password -->
                        <div class="form-group">
                            <label for="signUpPassword">Password</label>
                            <input type="password" class="form-control" id="password" name="uppassword"
                                placeholder="Enter password">
                        </div>

                        <!-- compexity of sigin ejs was not working in the actual session stuff, code removed for now of signup.js (script tage also removed for now) -->
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <%- include('partials/footer') %>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
            <script>
                // Check if the URL contains a query parameter indicating successful registration
                const urlParams = new URLSearchParams(window.location.search);
                const registered = urlParams.get('registered');
                // ref! its query params in app.js and 
                // idf reg parameter is present, display a popup message
                if (registered === 'true') {
                    alert("User now registered, sign in with your credentials to unlock our site");
                }
            </script>
            <script>
                const urlParamas = new URLSearchParams(window.location.search);
                const siginerror = urlParamas.get('error');
                if (siginerror === 'true') {

                    // and ref 
                    // alert for sing in error 
                    alert("Failed to sign in. Please check your credentials and try again.");
                }
            </script>


</body>

</html>