.container {
    padding: 20px;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.links a {
    color: #f15b4e;
    text-decoration: none;
}

.links a:hover {
    color: #9c4942;
}

.container .btn.btn-primary {
    background-color: #f15b4e;
    border-color: transparent;
}

.container .btn.btn-primary:hover {
    background-color: #9c4942;
    border-color: transparent;
}

.jumbotron {
    color: #ffffff;
    border-radius: 0;
}

.jumbotron .btn.btn-primary {
    background-color: #f15b4e;
    border-color: transparent;
}

.jumbotron .btn.btn-primary:hover {
    background-color: #9c4942;
    border-color: transparent;
}

.jum-top {
    background-image: url('/images/index-top.png');
    background-size: cover;
}

.jum-btm {
    background-image: url('/images/index-btm.png');
    background-size: cover;
}

.custom-hr {
    border-top: 2px solid #ffffff;
}

.short-hr {
    border-top: 1.5px solid #ffffff;
    width: 200px;
}

.styled-boxes-container {
    width: 100%;
}

.styled-box {
    background-color: #f4f4f4;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #000000;
    height: 330px;
    overflow-y: auto;
}

.bullet-list {
    padding-left: 20px;
}

.styled-box h3 {
    color: #f15b4e;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.fa-white,
.white-icon {
    color: white;
}

.navbar-toggler .fa-chevron-down {
    transition: transform 0.3s ease;
}

.navbar-toggler[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
}

.small-copyright {
    font-size: 10px;
}

.ft-text {
    font-size: 12px;
}

.nav-footer-links a {
    color: #ffffff;
    font-size: 15px;
}

.nav-footer-links a:hover {
    color: #f15b4e;
    text-decoration: none;
}

.nav-footer-bg {
    background-color: #000000;
}

.footer-text {
    color: #ffffff;
}

.contact-text {
    font-size: 14px;
    color: #000000;
}

.contact-section {
    background-image: url('/images/contact-bg.png');
    background-size: cover;
    color: #ffffff;
}

.contact-section h2,
.contact-section p {
    color: #ffffff;
}

.icon-text {
    font-style: italic;
    font-weight: 100;
    color: #ffffff;
}

.account-section {
    background-image: url('/images/account-bg.png');
    background-size: cover;
    color: white;
}

.account-section p {
    color: #ffffff;
}

/* Specificc button selectors as the other ones are not working - try and find fix if needed */

.account-section .btn.btn-primary {
    background-color: #f15b4e;
    border-color: transparent;
}

.account-section .btn.btn-primary:hover {
    background-color: #9c4942;
    border-color: transparent;
}

.error-section {
    margin-top: 200px;
}